<a href="https://colab.research.google.com/github/NikolasGialitsis/PredictingFootballMatches/blob/master/PredictingFootballOutcomes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [183]:
!git clone https://github.com/footballcsv/greece.git

fatal: destination path 'greece' already exists and is not an empty directory.

In [184]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

main_dir = 'greece'
filename='gr.1.csv'
directories = [x[0] for x in os.walk(main_dir) if '-' in x[0]]
print(directories)
print('Number of yearly collections:',len(directories))
YearArchives = [dir + '/' + filename for dir in directories]

total=0
df = pd.DataFrame()
for id in range(len(YearArchives)):
  arch = YearArchives[id]
  if total == 0:
    df = pd.read_csv(arch)
  else:
    new_df = pd.read_csv(arch)
    df = pd.concat([df,new_df],ignore_index=True)
  print(directories[id],' contains ', df.shape[0] - total, ' football matches')
  total = df.shape[0]

print('total football matches in greece : ',total)
print(df.columns)
print(df.head())

['greece/2000-01', 'greece/2002-03', 'greece/2019-20', 'greece/2005-06', 'greece/1998-99', 'greece/2009-10', 'greece/2007-08', 'greece/2017-18', 'greece/2003-04', 'greece/2012-13', 'greece/2006-07', 'greece/2001-02', 'greece/2004-05', 'greece/2013-14', 'greece/2014-15', 'greece/1995-96', 'greece/2010-11', 'greece/2011-12', 'greece/1996-97', 'greece/1999-00', 'greece/2008-09', 'greece/2018-19', 'greece/2016-17', 'greece/1994-95', 'greece/1997-98', 'greece/2015-16']
Number of yearly collections: 26
greece/2000-01  contains  240  football matches
greece/2002-03  contains  240  football matches
greece/2019-20  contains  14  football matches
greece/2005-06  contains  240  football matches
greece/1998-99  contains  306  football matches
greece/2009-10  contains  240  football matches
greece/2007-08  contains  240  football matches
greece/2017-18  contains  240  football matches
greece/2003-04  contains  240  football matches
greece/2012-13  contains  240  football matches
greece/2006-07  contains  240  football matches
greece/2001-02  contains  182  football matches
greece/2004-05  contains  240  football matches
greece/2013-14  contains  306  football matches
greece/2014-15  contains  306  football matches
greece/1995-96  contains  306  football matches
greece/2010-11  contains  240  football matches
greece/2011-12  contains  240  football matches
greece/1996-97  contains  306  football matches
greece/1999-00  contains  306  football matches
greece/2008-09  contains  240  football matches
greece/2018-19  contains  240  football matches
greece/2016-17  contains  240  football matches
greece/1994-95  contains  306  football matches
greece/1997-98  contains  306  football matches
greece/2015-16  contains  240  football matches
total football matches in greece :  6484
Index(['Round', 'Date', 'Team 1', 'FT', 'HT', 'Team 2'], dtype='object')
  Round                     Date  ...   HT                   Team 2
0     ?  (Sat) 16 Sep 2000 (W37)  ...  2-0  Ethnikos Asteras FC (1)
1     ?  (Sat) 16 Sep 2000 (W37)  ...  1-0      PAS Giannina FC (1)
2     ?  (Sun) 17 Sep 2000 (W37)  ...  1-0     Athinaikos AS FC (1)
3     ?  (Sun) 17 Sep 2000 (W37)  ...  0-0              PAOK FC (1)
4     ?  (Sun) 17 Sep 2000 (W37)  ...  1-0            Xanthi FC (1)

[5 rows x 6 columns]

In [185]:
# Drop 'Round' column
df = df.drop(labels = ['Round'], axis = 1)
print(df.columns)

Index(['Date', 'Team 1', 'FT', 'HT', 'Team 2'], dtype='object')

In [186]:
def count_missing_values(df):
  
  for col in df.columns:
    qmarks = df[df[col].str.contains("\?")]
    if(~qmarks.empty):
      print('\t',col,':',len(qmarks))


#check for null entries
assert(True not in df.isnull().any())


#check for missing values
print('\nMissing values initially')
count_missing_values(df)


#try to fill in missing values, between HT and FT
missingFT = df[df['FT'].str.contains("\?")].index
missingHT = df[df['HT'].str.contains("\?")].index

filled=0
for index in missingFT:
  if index not in missingHT:
    df.iloc[index]['FT'] = df.iloc[index]['HT']
    filled+=1
for index in missingHT:
  if index not in missingFT:
    df.iloc[index]['HT'] = df.iloc[index]['FT']
    filled+=1

#after correction
print('\nMissing values after filling-in %d row(s)'%filled)
count_missing_values(df)

#drop any remaining rows with missing values
missingFT = df[df['FT'].str.contains("\?")].index
df = df.drop(missingFT)
print('\nMissing values after dropping the %d non-informative row(s)'%len(missingFT))
count_missing_values(df)

Missing values initially
	 Date : 0
	 Team 1 : 0
	 FT : 2
	 HT : 1559
	 Team 2 : 0

Missing values after filling-in 1559 row(s)
	 Date : 0
	 Team 1 : 0
	 FT : 1
	 HT : 1
	 Team 2 : 0

Missing values after dropping the 1 non-informative row(s)
	 Date : 0
	 Team 1 : 0
	 FT : 0
	 HT : 0
	 Team 2 : 0

In [187]:
#ignore parentheses on team names
import re
for index, row in df.iterrows():
  team1 = row['Team 1'] 
  team2 = row['Team 2']
  
  row['Team 1'] = re.sub('\(\d*\)','',team1)
  row['Team 2'] = re.sub('\(\d*\)','',team2)
  if index == 0:
    print(team1)
    print('\t',row['Team 1'])
    print(team2)
    print('\t',row['Team 2'])

Olympiacos Piraeus FC (1)
	 Olympiacos Piraeus FC
Ethnikos Asteras FC (1)
	 Ethnikos Asteras FC

In [188]:
#repeat all matches in the dataframe, but in reverse
#ignore parentheses on team names
copy_df = df.copy()
assert(copy_df.shape[0] == df.shape[0])
for index, row in copy_df.iterrows():
  team1 = row['Team 1'] 
  team2 = row['Team 2']
  FT = row['FT']
  HT = row['HT']

  #reverse teams
  row['Team 1'] = team2
  row['Team 2'] = team1

  #reverse final score
  tokens = FT.split('-')
  row['FT'] = str(tokens[1] + '-' + tokens[0]) 

  #reverse half time score
  tokens = HT.split('-')
  row['HT'] = str(tokens[1] + '-' + tokens[0]) 

df = pd.concat([df,copy_df],ignore_index=True)
print('New merged dataframe',df.shape)

New merged dataframe (12966, 5)

In [209]:
team_df = df.groupby('Team 1')

for v in team_df['Team 1']:
    print(v)

('AE Larissa FC ', 491      AE Larissa FC
509      AE Larissa FC
521      AE Larissa FC
549      AE Larissa FC
559      AE Larissa FC
              ...
12365    AE Larissa FC
12367    AE Larissa FC
12378    AE Larissa FC
12398    AE Larissa FC
12418    AE Larissa FC
Name: Team 1, Length: 340, dtype: object)
('AEK Athens FC ', 6        AEK Athens FC
17       AEK Athens FC
41       AEK Athens FC
62       AEK Athens FC
73       AEK Athens FC
              ...
12903    AEK Athens FC
12924    AEK Athens FC
12937    AEK Athens FC
12943    AEK Athens FC
12960    AEK Athens FC
Name: Team 1, Length: 712, dtype: object)
('AEL Kalloni FC ', 2910     AEL Kalloni FC
2920     AEL Kalloni FC
2954     AEL Kalloni FC
2969     AEL Kalloni FC
2987     AEL Kalloni FC
              ...
12891    AEL Kalloni FC
12904    AEL Kalloni FC
12923    AEL Kalloni FC
12939    AEL Kalloni FC
12961    AEL Kalloni FC
Name: Team 1, Length: 98, dtype: object)
('APO Akratitos ', 242     APO Akratitos
259     APO Akratitos
281     APO Akratitos
297     APO Akratitos
312     APO Akratitos
             ...
9093    APO Akratitos
9105    APO Akratitos
9121    APO Akratitos
9128    APO Akratitos
9140    APO Akratitos
Name: Team 1, Length: 116, dtype: object)
('Apollon Pontou FC ', 497     Apollon Pontou FC
507     Apollon Pontou FC
525     Apollon Pontou FC
535     Apollon Pontou FC
550     Apollon Pontou FC
               ...
9310    Apollon Pontou FC
9325    Apollon Pontou FC
9340    Apollon Pontou FC
9362    Apollon Pontou FC
9377    Apollon Pontou FC
Name: Team 1, Length: 120, dtype: object)
('Apollon Smyrnis FC ', 734      Apollon Smyrnis FC
762      Apollon Smyrnis FC
780      Apollon Smyrnis FC
800      Apollon Smyrnis FC
816      Apollon Smyrnis FC
                ...
12662    Apollon Smyrnis FC
12680    Apollon Smyrnis FC
12696    Apollon Smyrnis FC
12704    Apollon Smyrnis FC
12720    Apollon Smyrnis FC
Name: Team 1, Length: 298, dtype: object)
('Aris Thessaloniki FC ', 9        Aris Thessaloniki FC
31       Aris Thessaloniki FC
42       Aris Thessaloniki FC
49       Aris Thessaloniki FC
65       Aris Thessaloniki FC
                 ...
12346    Aris Thessaloniki FC
12360    Aris Thessaloniki FC
12381    Aris Thessaloniki FC
12400    Aris Thessaloniki FC
12410    Aris Thessaloniki FC
Name: Team 1, Length: 592, dtype: object)
('Asteras Tripolis FC ', 493      Asteras Tripolis FC
1043     Asteras Tripolis FC
1058     Asteras Tripolis FC
1076     Asteras Tripolis FC
1083     Asteras Tripolis FC
                 ...
12887    Asteras Tripolis FC
12900    Asteras Tripolis FC
12912    Asteras Tripolis FC
12928    Asteras Tripolis FC
12942    Asteras Tripolis FC
Name: Team 1, Length: 370, dtype: object)
('Athinaikos AS FC ', 10       Athinaikos AS FC
24       Athinaikos AS FC
40       Athinaikos AS FC
71       Athinaikos AS FC
82       Athinaikos AS FC
               ...
12632    Athinaikos AS FC
12646    Athinaikos AS FC
12671    Athinaikos AS FC
12690    Athinaikos AS FC
12716    Athinaikos AS FC
Name: Team 1, Length: 166, dtype: object)
('Atromitos FC ', 483      Atromitos FC
500      Atromitos FC
513      Atromitos FC
532      Atromitos FC
534      Atromitos FC
             ...
12905    Atromitos FC
12920    Atromitos FC
12938    Atromitos FC
12953    Atromitos FC
12963    Atromitos FC
Name: Team 1, Length: 400, dtype: object)
('Chalkidona FC ', 1768    Chalkidona FC
1780    Chalkidona FC
1796    Chalkidona FC
1812    Chalkidona FC
1825    Chalkidona FC
1849    Chalkidona FC
1864    Chalkidona FC
1884    Chalkidona FC
1905    Chalkidona FC
1922    Chalkidona FC
1939    Chalkidona FC
1952    Chalkidona FC
1962    Chalkidona FC
1978    Chalkidona FC
1993    Chalkidona FC
2664    Chalkidona FC
2678    Chalkidona FC
2696    Chalkidona FC
2721    Chalkidona FC
2736    Chalkidona FC
2752    Chalkidona FC
2766    Chalkidona FC
2776    Chalkidona FC
2791    Chalkidona FC
2809    Chalkidona FC
2825    Chalkidona FC
2833    Chalkidona FC
2846    Chalkidona FC
2865    Chalkidona FC
2879    Chalkidona FC
8250    Chalkidona FC
8272    Chalkidona FC
8285    Chalkidona FC
8301    Chalkidona FC
8316    Chalkidona FC
8326    Chalkidona FC
8340    Chalkidona FC
8356    Chalkidona FC
8376    Chalkidona FC
8386    Chalkidona FC
8400    Chalkidona FC
8415    Chalkidona FC
8431    Chalkidona FC
8454    Chalkidona FC
8473    Chalkidona FC
9154    Chalkidona FC
9172    Chalkidona FC
9189    Chalkidona FC
9194    Chalkidona FC
9211    Chalkidona FC
9228    Chalkidona FC
9244    Chalkidona FC
9265    Chalkidona FC
9286    Chalkidona FC
9303    Chalkidona FC
9328    Chalkidona FC
9342    Chalkidona FC
9359    Chalkidona FC
9371    Chalkidona FC
9381    Chalkidona FC
Name: Team 1, dtype: object)
('Doxa Dramas FC ', 4117     Doxa Dramas FC
4136     Doxa Dramas FC
4139     Doxa Dramas FC
4154     Doxa Dramas FC
4172     Doxa Dramas FC
              ...
12349    Doxa Dramas FC
12374    Doxa Dramas FC
12387    Doxa Dramas FC
12397    Doxa Dramas FC
12419    Doxa Dramas FC
Name: Team 1, Length: 64, dtype: object)
('Edessaikos FC ', 3516     Edessaikos FC
3543     Edessaikos FC
3562     Edessaikos FC
3578     Edessaikos FC
3596     Edessaikos FC
              ...
12324    Edessaikos FC
12350    Edessaikos FC
12369    Edessaikos FC
12391    Edessaikos FC
12405    Edessaikos FC
Name: Team 1, Length: 102, dtype: object)
('Egaleo FC ', 240     Egaleo FC
260     Egaleo FC
274     Egaleo FC
283     Egaleo FC
298     Egaleo FC
           ...
9306    Egaleo FC
9327    Egaleo FC
9338    Egaleo FC
9358    Egaleo FC
9384    Egaleo FC
Name: Team 1, Length: 176, dtype: object)
('Ergotelis FC ', 1041     Ergotelis FC
1059     Ergotelis FC
1078     Ergotelis FC
1088     Ergotelis FC
1107     Ergotelis FC
             ...
11565    Ergotelis FC
11580    Ergotelis FC
11592    Ergotelis FC
11609    Ergotelis FC
11620    Ergotelis FC
Name: Team 1, Length: 278, dtype: object)
('Ethnikos Asteras FC ', 11       Ethnikos Asteras FC
30       Ethnikos Asteras FC
43       Ethnikos Asteras FC
57       Ethnikos Asteras FC
66       Ethnikos Asteras FC
                 ...
11309    Ethnikos Asteras FC
11327    Ethnikos Asteras FC
11346    Ethnikos Asteras FC
11374    Ethnikos Asteras FC
11386    Ethnikos Asteras FC
Name: Team 1, Length: 124, dtype: object)
('Ethnikos Piraeus FC ', 754      Ethnikos Piraeus FC
773      Ethnikos Piraeus FC
788      Ethnikos Piraeus FC
807      Ethnikos Piraeus FC
819      Ethnikos Piraeus FC
                 ...
12633    Ethnikos Piraeus FC
12648    Ethnikos Piraeus FC
12674    Ethnikos Piraeus FC
12692    Ethnikos Piraeus FC
12714    Ethnikos Piraeus FC
Name: Team 1, Length: 136, dtype: object)
('Heracles Almelo ', 4303     Heracles Almelo
4319     Heracles Almelo
4336     Heracles Almelo
4355     Heracles Almelo
4381     Heracles Almelo
               ...
12651    Heracles Almelo
12665    Heracles Almelo
12676    Heracles Almelo
12693    Heracles Almelo
12713    Heracles Almelo
Name: Team 1, Length: 68, dtype: object)
('Ionikos FC ', 2        Ionikos FC
25       Ionikos FC
44       Ionikos FC
58       Ionikos FC
72       Ionikos FC
            ...
12650    Ionikos FC
12666    Ionikos FC
12684    Ionikos FC
12691    Ionikos FC
12712    Ionikos FC
Name: Team 1, Length: 410, dtype: object)
('Iraklis 1908 Thessaloniki FC ', 12       Iraklis 1908 Thessaloniki FC
26       Iraklis 1908 Thessaloniki FC
50       Iraklis 1908 Thessaloniki FC
67       Iraklis 1908 Thessaloniki FC
80       Iraklis 1908 Thessaloniki FC
                     ...
12884    Iraklis 1908 Thessaloniki FC
12899    Iraklis 1908 Thessaloniki FC
12917    Iraklis 1908 Thessaloniki FC
12933    Iraklis 1908 Thessaloniki FC
12955    Iraklis 1908 Thessaloniki FC
Name: Team 1, Length: 522, dtype: object)
('Kalamata FC ', 3        Kalamata FC
18       Kalamata FC
33       Kalamata FC
51       Kalamata FC
74       Kalamata FC
             ...
12652    Kalamata FC
12664    Kalamata FC
12682    Kalamata FC
12699    Kalamata FC
12723    Kalamata FC
Name: Team 1, Length: 166, dtype: object)
('Kallithea FC ', 251     Kallithea FC
264     Kallithea FC
280     Kallithea FC
308     Kallithea FC
323     Kallithea FC
            ...
9305    Kallithea FC
9333    Kallithea FC
9351    Kallithea FC
9364    Kallithea FC
9376    Kallithea FC
Name: Team 1, Length: 120, dtype: object)
('Kastoria FC ', 4299     Kastoria FC
4321     Kastoria FC
4349     Kastoria FC
4366     Kastoria FC
4382     Kastoria FC
4398     Kastoria FC
4419     Kastoria FC
4429     Kastoria FC
4446     Kastoria FC
4464     Kastoria FC
4481     Kastoria FC
4491     Kastoria FC
4509     Kastoria FC
4527     Kastoria FC
4545     Kastoria FC
4564     Kastoria FC
4590     Kastoria FC
10799    Kastoria FC
10814    Kastoria FC
10823    Kastoria FC
10838    Kastoria FC
10856    Kastoria FC
10875    Kastoria FC
10892    Kastoria FC
10923    Kastoria FC
10939    Kastoria FC
10960    Kastoria FC
10983    Kastoria FC
11002    Kastoria FC
11018    Kastoria FC
11038    Kastoria FC
11056    Kastoria FC
11067    Kastoria FC
11086    Kastoria FC
Name: Team 1, dtype: object)
('Kavala FC ', 738      Kavala FC
755      Kavala FC
775      Kavala FC
787      Kavala FC
804      Kavala FC
            ...
12647    Kavala FC
12658    Kavala FC
12675    Kavala FC
12694    Kavala FC
12708    Kavala FC
Name: Team 1, Length: 230, dtype: object)
('Kerkyra FC ', 1524     Kerkyra FC
1540     Kerkyra FC
1556     Kerkyra FC
1564     Kerkyra FC
1576     Kerkyra FC
            ...
12036    Kerkyra FC
12053    Kerkyra FC
12068    Kerkyra FC
12090    Kerkyra FC
12112    Kerkyra FC
Name: Team 1, Length: 244, dtype: object)
('Levadiakos FC ', 501      Levadiakos FC
514      Levadiakos FC
527      Levadiakos FC
546      Levadiakos FC
561      Levadiakos FC
              ...
12898    Levadiakos FC
12915    Levadiakos FC
12922    Levadiakos FC
12935    Levadiakos FC
12956    Levadiakos FC
Name: Team 1, Length: 402, dtype: object)
('Niki Volou FC ', 3221    Niki Volou FC
3240    Niki Volou FC
3255    Niki Volou FC
3275    Niki Volou FC
3304    Niki Volou FC
3311    Niki Volou FC
3340    Niki Volou FC
3355    Niki Volou FC
3367    Niki Volou FC
3380    Niki Volou FC
3402    Niki Volou FC
3424    Niki Volou FC
3435    Niki Volou FC
3458    Niki Volou FC
3476    Niki Volou FC
3491    Niki Volou FC
9693    Niki Volou FC
9710    Niki Volou FC
9732    Niki Volou FC
9753    Niki Volou FC
9766    Niki Volou FC
9779    Niki Volou FC
9801    Niki Volou FC
9814    Niki Volou FC
9827    Niki Volou FC
9855    Niki Volou FC
9873    Niki Volou FC
9890    Niki Volou FC
9899    Niki Volou FC
9929    Niki Volou FC
9934    Niki Volou FC
9954    Niki Volou FC
9980    Niki Volou FC
Name: Team 1, dtype: object)
('OFI Crete FC ', 7        OFI Crete FC
13       OFI Crete FC
27       OFI Crete FC
47       OFI Crete FC
59       OFI Crete FC
             ...
12643    OFI Crete FC
12649    OFI Crete FC
12663    OFI Crete FC
12689    OFI Crete FC
12700    OFI Crete FC
Name: Team 1, Length: 629, dtype: object)
('Olympiacos Piraeus FC ', 0        Olympiacos Piraeus FC
19       Olympiacos Piraeus FC
32       Olympiacos Piraeus FC
52       Olympiacos Piraeus FC
68       Olympiacos Piraeus FC
                  ...
12882    Olympiacos Piraeus FC
12893    Olympiacos Piraeus FC
12936    Olympiacos Piraeus FC
12949    Olympiacos Piraeus FC
12954    Olympiacos Piraeus FC
Name: Team 1, Length: 780, dtype: object)
('Olympiacos Volou 1937 FC ', 3833     Olympiacos Volou 1937 FC
3849     Olympiacos Volou 1937 FC
3869     Olympiacos Volou 1937 FC
3885     Olympiacos Volou 1937 FC
3898     Olympiacos Volou 1937 FC
3912     Olympiacos Volou 1937 FC
3923     Olympiacos Volou 1937 FC
3945     Olympiacos Volou 1937 FC
3957     Olympiacos Volou 1937 FC
3977     Olympiacos Volou 1937 FC
3985     Olympiacos Volou 1937 FC
4000     Olympiacos Volou 1937 FC
4011     Olympiacos Volou 1937 FC
4040     Olympiacos Volou 1937 FC
4055     Olympiacos Volou 1937 FC
10305    Olympiacos Volou 1937 FC
10325    Olympiacos Volou 1937 FC
10336    Olympiacos Volou 1937 FC
10346    Olympiacos Volou 1937 FC
10362    Olympiacos Volou 1937 FC
10380    Olympiacos Volou 1937 FC
10405    Olympiacos Volou 1937 FC
10416    Olympiacos Volou 1937 FC
10432    Olympiacos Volou 1937 FC
10446    Olympiacos Volou 1937 FC
10475    Olympiacos Volou 1937 FC
10486    Olympiacos Volou 1937 FC
10502    Olympiacos Volou 1937 FC
10513    Olympiacos Volou 1937 FC
10526    Olympiacos Volou 1937 FC
Name: Team 1, dtype: object)
('PAOK FC ', 23       PAOK FC
36       PAOK FC
48       PAOK FC
63       PAOK FC
78       PAOK FC
           ...
12906    PAOK FC
12921    PAOK FC
12926    PAOK FC
12947    PAOK FC
12964    PAOK FC
Name: Team 1, Length: 780, dtype: object)
('PAS Giannina FC ', 14       PAS Giannina FC
16       PAS Giannina FC
38       PAS Giannina FC
55       PAS Giannina FC
70       PAS Giannina FC
               ...
12902    PAS Giannina FC
12916    PAS Giannina FC
12925    PAS Giannina FC
12944    PAS Giannina FC
12965    PAS Giannina FC
Name: Team 1, Length: 338, dtype: object)
('PAS Lamia 1964 ', 480      PAS Lamia 1964
492      PAS Lamia 1964
1528     PAS Lamia 1964
1547     PAS Lamia 1964
1567     PAS Lamia 1964
              ...
11801    PAS Lamia 1964
11814    PAS Lamia 1964
11826    PAS Lamia 1964
11847    PAS Lamia 1964
11866    PAS Lamia 1964
Name: Team 1, Length: 62, dtype: object)
('Panachaiki FC ', 4        Panachaiki FC
20       Panachaiki FC
39       Panachaiki FC
60       Panachaiki FC
75       Panachaiki FC
              ...
12654    Panachaiki FC
12677    Panachaiki FC
12695    Panachaiki FC
12711    Panachaiki FC
12722    Panachaiki FC
Name: Team 1, Length: 222, dtype: object)
('Panathinaikos FC ', 1        Panathinaikos FC
21       Panathinaikos FC
34       Panathinaikos FC
45       Panathinaikos FC
56       Panathinaikos FC
               ...
12883    Panathinaikos FC
12896    Panathinaikos FC
12913    Panathinaikos FC
12931    Panathinaikos FC
12951    Panathinaikos FC
Name: Team 1, Length: 780, dtype: object)
('Panelefsiniakos FC ', 736     Panelefsiniakos FC
753     Panelefsiniakos FC
781     Panelefsiniakos FC
802     Panelefsiniakos FC
818     Panelefsiniakos FC
841     Panelefsiniakos FC
851     Panelefsiniakos FC
868     Panelefsiniakos FC
880     Panelefsiniakos FC
898     Panelefsiniakos FC
915     Panelefsiniakos FC
930     Panelefsiniakos FC
945     Panelefsiniakos FC
962     Panelefsiniakos FC
977     Panelefsiniakos FC
995     Panelefsiniakos FC
1025    Panelefsiniakos FC
7230    Panelefsiniakos FC
7245    Panelefsiniakos FC
7259    Panelefsiniakos FC
7274    Panelefsiniakos FC
7295    Panelefsiniakos FC
7313    Panelefsiniakos FC
7328    Panelefsiniakos FC
7353    Panelefsiniakos FC
7374    Panelefsiniakos FC
7389    Panelefsiniakos FC
7421    Panelefsiniakos FC
7439    Panelefsiniakos FC
7452    Panelefsiniakos FC
7472    Panelefsiniakos FC
7492    Panelefsiniakos FC
7499    Panelefsiniakos FC
7516    Panelefsiniakos FC
Name: Team 1, dtype: object)
('Panetolikos GFS ', 487      Panetolikos GFS
1529     Panetolikos GFS
1554     Panetolikos GFS
1572     Panetolikos GFS
1588     Panetolikos GFS
               ...
12892    Panetolikos GFS
12907    Panetolikos GFS
12918    Panetolikos GFS
12941    Panetolikos GFS
12959    Panetolikos GFS
Name: Team 1, Length: 220, dtype: object)
('Paniliakos FC ', 5        Paniliakos FC
22       Paniliakos FC
28       Paniliakos FC
46       Paniliakos FC
61       Paniliakos FC
              ...
12661    Paniliakos FC
12669    Paniliakos FC
12686    Paniliakos FC
12701    Paniliakos FC
12724    Paniliakos FC
Name: Team 1, Length: 230, dtype: object)
('Panionios GSS ', 8        Panionios GSS
29       Panionios GSS
35       Panionios GSS
54       Panionios GSS
64       Panionios GSS
              ...
12897    Panionios GSS
12909    Panionios GSS
12919    Panionios GSS
12940    Panionios GSS
12950    Panionios GSS
Name: Team 1, Length: 746, dtype: object)
('Panserraikos FC ', 3841     Panserraikos FC
3857     Panserraikos FC
3873     Panserraikos FC
3882     Panserraikos FC
3897     Panserraikos FC
3909     Panserraikos FC
3929     Panserraikos FC
3946     Panserraikos FC
3953     Panserraikos FC
3970     Panserraikos FC
3981     Panserraikos FC
4008     Panserraikos FC
4021     Panserraikos FC
4041     Panserraikos FC
4056     Panserraikos FC
4921     Panserraikos FC
4936     Panserraikos FC
4952     Panserraikos FC
4975     Panserraikos FC
4993     Panserraikos FC
5008     Panserraikos FC
5025     Panserraikos FC
5038     Panserraikos FC
5049     Panserraikos FC
5068     Panserraikos FC
5085     Panserraikos FC
5093     Panserraikos FC
5107     Panserraikos FC
5124     Panserraikos FC
5140     Panserraikos FC
10309    Panserraikos FC
10314    Panserraikos FC
10326    Panserraikos FC
10347    Panserraikos FC
10366    Panserraikos FC
10383    Panserraikos FC
10399    Panserraikos FC
10414    Panserraikos FC
10439    Panserraikos FC
10459    Panserraikos FC
10474    Panserraikos FC
10479    Panserraikos FC
10494    Panserraikos FC
10510    Panserraikos FC
10533    Panserraikos FC
11399    Panserraikos FC
11415    Panserraikos FC
11432    Panserraikos FC
11448    Panserraikos FC
11451    Panserraikos FC
11466    Panserraikos FC
11485    Panserraikos FC
11504    Panserraikos FC
11523    Panserraikos FC
11543    Panserraikos FC
11555    Panserraikos FC
11582    Panserraikos FC
11600    Panserraikos FC
11612    Panserraikos FC
11631    Panserraikos FC
Name: Team 1, dtype: object)
('Panthrakikos FC ', 1045     Panthrakikos FC
1061     Panthrakikos FC
1082     Panthrakikos FC
1102     Panthrakikos FC
1114     Panthrakikos FC
               ...
12885    Panthrakikos FC
12908    Panthrakikos FC
12932    Panthrakikos FC
12945    Panthrakikos FC
12962    Panthrakikos FC
Name: Team 1, Length: 188, dtype: object)
('Platanias FC ', 1526     Platanias FC
1530     Platanias FC
1550     Platanias FC
1562     Platanias FC
1582     Platanias FC
             ...
12895    Platanias FC
12910    Platanias FC
12930    Platanias FC
12934    Platanias FC
12952    Platanias FC
Name: Team 1, Length: 188, dtype: object)
('Proodeftiki FC ', 247      Proodeftiki FC
262      Proodeftiki FC
278      Proodeftiki FC
293      Proodeftiki FC
318      Proodeftiki FC
              ...
12642    Proodeftiki FC
12657    Proodeftiki FC
12678    Proodeftiki FC
12705    Proodeftiki FC
12719    Proodeftiki FC
Name: Team 1, Length: 162, dtype: object)
('Thrasyvoulos FC ', 4934     Thrasyvoulos FC
4949     Thrasyvoulos FC
4964     Thrasyvoulos FC
4982     Thrasyvoulos FC
5001     Thrasyvoulos FC
5022     Thrasyvoulos FC
5037     Thrasyvoulos FC
5046     Thrasyvoulos FC
5062     Thrasyvoulos FC
5077     Thrasyvoulos FC
5094     Thrasyvoulos FC
5109     Thrasyvoulos FC
5118     Thrasyvoulos FC
5134     Thrasyvoulos FC
5149     Thrasyvoulos FC
11400    Thrasyvoulos FC
11408    Thrasyvoulos FC
11424    Thrasyvoulos FC
11438    Thrasyvoulos FC
11457    Thrasyvoulos FC
11469    Thrasyvoulos FC
11475    Thrasyvoulos FC
11494    Thrasyvoulos FC
11512    Thrasyvoulos FC
11530    Thrasyvoulos FC
11551    Thrasyvoulos FC
11562    Thrasyvoulos FC
11579    Thrasyvoulos FC
11608    Thrasyvoulos FC
11622    Thrasyvoulos FC
Name: Team 1, dtype: object)
('Trikala FC ', 4621     Trikala FC
4634     Trikala FC
4655     Trikala FC
4666     Trikala FC
4683     Trikala FC
4701     Trikala FC
4718     Trikala FC
4747     Trikala FC
4764     Trikala FC
4783     Trikala FC
4794     Trikala FC
4828     Trikala FC
4847     Trikala FC
4865     Trikala FC
4878     Trikala FC
4892     Trikala FC
4910     Trikala FC
11094    Trikala FC
11108    Trikala FC
11124    Trikala FC
11155    Trikala FC
11171    Trikala FC
11192    Trikala FC
11209    Trikala FC
11216    Trikala FC
11237    Trikala FC
11250    Trikala FC
11273    Trikala FC
11287    Trikala FC
11297    Trikala FC
11320    Trikala FC
11337    Trikala FC
11350    Trikala FC
11376    Trikala FC
Name: Team 1, dtype: object)
('Veria FC ', 742      Veria FC